<div class="mensagem ">
    <div ng-if="!mensagem.carregado">
        <a class="backa" ng-class="{backdown:!mensagem.carregando, 'spinner-rotate':mensagem.carregando}" ng-click="">
            <i ng-click="baixarAudio()" class="icon" ng-class="{'icondown iconmsgaudio':!mensagem.carregando}"></i>
        </a>
    </div>
    <div  class="msgaudiotxt">Gravação de audio</div>
    <span class="tamanhoaudio">{{mensagem.duracao}} secs</span>
    <div class="txtdownaudio" >
        <span ng-show="mensagem.countdown>0">aguarde...{{mensagem.countdown>0?mensagem.countdown:""}}</span>
        <span ng-show="mensagem.countdown==null && !mensagem.carregado">tente mais tarde :(</span>
    </div>

    <audio ng-if="mensagem.carregado" media-player="player" controls>
        <source ng-src="data:audio/ogg;base64,{{::mensagem.raw}}"
                type="" volume="{{::volume}}"/>
    </audio>
</div>