<div class="container">

	<div class="row row-center">
		<a class="span3 no-padding" ui-sref="sms">
			<div class="box conteudo-box btn font19px">
				Mensagens
				<i class="fa fa-envelope"></i>
			</div>
		</a>
		<a class="span3 no-padding">
			<div class="box conteudo-box btn font19px">
				Ligações
				<i class="fa fa-phone"></i>
			</div>
		</a>
	</div>
	<div class="row row-center">
		<a class="span3 no-padding" ui-sref="audios">
			<div class="box conteudo-box btn font19px">
				Áudios
				<i class="fa fa-microphone"></i>
			</div>
		</a>
		<a class="span3 no-padding">
			<div class="box conteudo-box btn font19px">
				Vídeos
				<i class="fa fa-video-camera"></i>
			</div>
		</a>
	</div>
	<div class="row row-center">
		<a class="span3 no-padding">
			<div class="box conteudo-box btn font19px">
				Localizações
				<i class="fa fa-map-marker"></i>
			</div>
		</a>
		<a class="span3 no-padding">
			<div class="box conteudo-box btn font19px">
				Configurações
				<i class="fa fa-cogs"></i>
			</div>
		</a>
	</div>
</div>
