<div class="container" ng-cloak>

	<div class="row row-center">
		<a class="span3 no-padding" ui-sref="sms">
			<div class="box conteudo-box btn font19px">
				{{'mensagens'|translate}}
				<i class="fa fa-envelope"></i>
			</div>
		</a>
		<a class="span3 no-padding" ui-sref="ligacoes">
			<div class="box conteudo-box btn font19px">
				{{'ligacoes'|translate}}
				<i class="fa fa-phone"></i>
			</div>
		</a>
	</div>
	<div class="row row-center">
		<a class="span3 no-padding" ui-sref="audios">
			<div class="box conteudo-box btn font19px">
				{{'audios'|translate}}
				<i class="fa fa-microphone"></i>
			</div>
		</a>
		<a class="span3 no-padding" ui-sref="videos">
			<div class="box conteudo-box btn font19px">
				{{'videos' |  translate}}
				<i class="fa fa-video-camera"></i>
			</div>
		</a>
	</div>
	<div class="row row-center" >
		<a class="span3 no-padding" ui-sref="fotos">
			<div class="box conteudo-box btn font19px">
				{{'fotos'|translate}}
				<i class="fa fa-photo"></i>
			</div>
		</a>
		<a class="span3 no-padding" ui-sref="localizacoes">
			<div class="box conteudo-box btn font19px">
				{{'localizacoes'|translate}}
				<i class="fa fa-map-marker"></i>
			</div>
		</a>
	</div>
	<div class="row row-center" >
		<a class="span6 no-padding" ui-sref="configuracoes">
			<div class="box conteudo-box btn font19px">
				{{'configuracoes'|translate}}
				<i class="fa fa-cogs"></i>
			</div>
		</a>
	</div>

</div>
