<div class='container' ui-view>
    <div class='row'>
        <div class="span12">
            <strong class="title">{{'titulo-alterar-configuracao' |
                translate}}</strong>
        </div>
    </div>

    <div class='row'>
        <div class="span12">
            <div class="conteudo-box">
                <form novalidate ng-submit="salvarConfiguracao()" ex-formulario-alterado="formularioAlterado">
                    <div class="span12">
                        <div class="filder panel panel-default">
                            <div class="panel-heading">
                                <b class="panel-title">{{'dados-criadouro' | translate}}</b>
                            </div>

                            <div class="panel-body">
                                <div class="row">
                                    <div class="span2" ng-show="criadouro.id != null">
                                        <label for="numero">{{'codigo-criadouro' | translate}}</label>
                                        <input id="numero" type="text" class="right"
                                               ng-model="criadouro.numero"
                                               ng-disabled="criadouro.id != null"/>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="span12">
                            <div class="pull-right">
                                <a ex-modal-confirmacao="voltar"
                                   titulo="'titulo-modal-voltar' | translate"
                                   pergunta="'confirma-modal-sem-salvar' | translate"
                                   rotulo-botao="'confirma-modal' | translate"
                                   exibir-confirmacao-quando="formularioAlterado"
                                   class="btn btn-warning"
                                   title="{{'volta-tela-consulta' | translate}}">
                                    <i class="font15px fa fa-arrow-left"></i>
                                    {{'voltar' | translate}}
                                </a>

                                <button type="submit" class="btn btn-primary"
                                        title="{{criadouro.id == null ? 'envia-dados-informados-cadastro' : 'salva-alteracoes-registro' | translate}}">
                                    <i class="font15px fa fa-floppy-o"></i>
                                    {{criadouro.id == null ? 'cadastrar' : 'salvar' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

