<div class="container">

    <link type="text/css" rel="stylesheet" href="assets/css/chat.css" media="screen"/>

    <div class="row">
        <div class="box conteudo-box">

            <div class="msgconteudo ">
                <!--COLUNA DOS TOPICOS -->
                <div class="colunatopico">
                    <div class="ctopico">
                        <ul class="ultopico">
                            <li class="topico">
                                <a class="intopico">
                                    <div class="chora">
                                        <div class="hora">10:22</div>
                                    </div>
                                    <div class="divavatar">
                                        <span class="avatar user_bgcolor_4">hc</span>
                                    </div>
                                    <div class="nomes">
                                        <div class="nome">nome nome</div>
                                        <div class="cmensagem">
                                            <div class="mensagem">mensagem</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                            <li class="topico">
                                <a class="intopico">
                                    <div class="chora">
                                        <div class="hora">10:21</div>
                                    </div>
                                    <div class="divavatar">
                                        <span class="avatar user_bgcolor_1">GL</span>
                                    </div>
                                    <div class="nomes">
                                        <div class="nome">nome nome</div>
                                        <div class="cmensagem">
                                            <div class="mensagem">mensagem</div>
                                        </div>
                                    </div>
                                </a>
                            </li>


                        </ul>

                    </div>
                </div>

                <!-- QUANDO NAO TEM MENSAGENS ESCOLHIDAS-->
                <div class="mensagenscontainer">
                    <div class="semmensagens">Selecione um chat para começar a conversar</div>
                </div>


            </div>
        </div>
    </div>

</div>
