<div>
    <div ng-show="mensagem.carregando" class="spinner spinner-rotate"></div>
    <div ng-click="carregarImagem()" ng-show="!mensagem.carregado && !mensagem.carregando" class="spinnerdown">
        <span class="tamanhotxtspinner">{{mensagem.tamanhoArquivo.tamanhoArquivo()}}</span>
    </div>

    <span class="im_message_photo_thumb" style="">
        <img class="im_message_photo_thumb" style="width: 260px"
             src="data:{{mensagem.midiaMime}};base64,{{mensagem.carregado?mensagem.raw:mensagem.thumb}}">
    </span>
</div>