<div>
    <div ng-show="mensagem.carregando" class="spinner spinner-rotate"></div>
    <div ng-click="carregarVideo()" ng-show="!mensagem.carregado && !mensagem.carregando" class="spinnerdown">
        <span class="tamanhotxtspinner">{{mensagem.tamanhoArquivo.tamanhoArquivo()}}</span>
    </div>

    <span class="im_message_photo_thumb" style="">
        <video type="mensagem.midiaMime" ng-if="mensagem.carregado && (mensagem.raw!=null || mensagem.thumb!=null)" controls ng-src="data:{{mensagem.midiaMime}};base64,{{mensagem.raw}}" />
    </span>
</div>