<div class="mensagem ">
    <div ng-if="!mensagem.carregado">
        <a class="backa" ng-class="{backdown:!mensagem.carregando, 'spinner-rotate':mensagem.carregando}" ng-click="">
            <i ng-click="baixarAudio()" class="icon" ng-class="{'icondown iconmsgaudio':!mensagem.carregando}"></i>
        </a>
    </div>
    <div ng-hide="mensagem.carregando" class="msgaudiotxt">Mensagem de voz</div>
    <span ng-hide="mensagem.carregando" class="tamanhoaudio">{{mensagem.tamanhoArquivo.tamanhoArquivo()}}</span>
    <div class="txtdownaudio" ng-hide="mensagem.carregando">
        <a ng-click="baixarAudio()">Baixar</a>
    </div>

    <audio ng-if="mensagem.carregado" controls preload="auto" ng-src="{{mensagem.src}}"></audio>
</div>