<div class="span12">
	<div class="filder panel panel-default">
		<div class="panel-heading">
			<b class="panel-title">{{"anexos" | translate}}</b>
		</div>
		<div class="panel-body">
			<div class="row" ng-if="!readonly">
				<div class="span4">
					<label for="nome">{{"nome" | translate}} <em class="form-req">*</em></label> 
					<input id="nome" maxlength="80" type="text"
						ng-model="novoArquivo.nome" class="ex-text">
<!-- 					<ex-obrigatorio	mostrar-quando="!novoArquivo.nome && whatsapp.mostrarMsgErro"></ex-obrigatorio> -->
				</div>
				<div class="span4">
					<ex-file-selector
						id="fileupload"						
						msg-erro-quando="!novoArquivo.arquivo.arquivoBinario&&fatura.mostrarMsgErro"
						obrigatorio="false" tipo="'custom'" escalar-imagem="false"
						extensoes-custom="extensoesPermitidas" rotulo="'anexo-contrato'"
						descricao="'Anexo da fatura'" valor="novoArquivo.arquivo"
						tamanho-span="span4" msg-arquivo-invalido="arquivo-tipo-invalido"
						on-arquivo-invalido-fn="callBackArquivoInvalido"
						on-arquivo-carregado-fn="adicionarArquivo"
						on-before-load-fn="valida"
						tamanho-maximo-kbytes="5120"> </ex-file-selector>
				</div>

				<!-- <div>
					<label>&nbsp;</label>
					<a class="btn btn-success" ng-click="adicionarArquivo()"
									title="{{'adicionar' | translate}}"> <i
									class="font15px fa fa-plus"></i> {{'adicionar' | translate}}
								</a>
				</div>-->
			</div>
			
			<div ng-show="anexoFaturaList && tabelaAnexoFatura.settings().total > 0 && totalAnexosAtivos() > 0">
				  <table ng-table="tabelaAnexoFatura"
					class="tableHead12 table table-striped table-bordered">
					<tbody>
						<tr ng-repeat="anexo in $data | filter:isExcluido">
							<td class="centeredColumnXY" data-title="'nome' | translate">
							{{anexo.nome}}
							</td>
							<td class="centeredColumnXY"
								data-title="'arquivo' | translate">{{anexo.arquivo.nomeCompleto}}</td>
							<td class="centeredColumnXY"
								data-title="'acoes' | translate">
								<a download
									ng-show="anexo.arquivo && anexo.arquivo.id"
									ex-download-arquivo
								    url="arquivos/{{anexo.arquivo.id}}"
									class="btn btn-success btn-xs"
									title="{{'baixar-arquivo-enviado' | translate}}. Enviado em {{anexo.arquivo.dataEnvio | date: 'dd/MM/yyyy'}}">
									<i class="font15px fa fa-download"></i>
								</a>
								<a class="btn btn-danger btn-xs" ng-if="!readonly" ng-click="removerArquivo(anexo)"><i class="font15px fa fa-trash"></i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div id="divFiles" style="display:block"></div>
			</div>
			<div class="clearfix"></div>

		</div>
	</div>
</div>
