<div class="{{tamanhoSpan}}">
	<div class="filder panel panel-default">
		<div class="panel-heading">
			<b class="panel-title">{{'dados-ap' | translate}} {{fatura.id?fatura.aprovacaoProducao.numeroAP:""}}</b>
		</div>
		<div class="panel-body">
		
			<div class="row">
				<div class="span6" ng-if="!substituir">
					<label for="ap">{{ 'numero-fatura-ap' | translate}}  <em class="form-req">*</em></label>
					<input id="ap"
						ng-disabled="!fatura.tipoPublicidade.id || fatura.id"
						maxlength="20" 
						type="text"  
						ng-model="fatura.aprovacaoProducao.numeroAP" 
						class="ex-number right">
					<ex-obrigatorio mostrar-quando="!fatura.aprovacaoProducao.numeroAP&&fatura.mostrarMsgErro"></ex-obrigatorio>
				</div>	
				
				<div class="span6">
					<label for="siref">{{'siref' | translate}}</label>
					<input
						desativado="isDisabled()"
						id="siref" 
						maxlength="20" 
						ng-required="true"
						type="text" 
						class="ex-number right"
						ng-model="fatura.aprovacaoProducao.siref" >
					<ex-obrigatorio mostrar-quando="!fatura.aprovacaoProducao.siref&&fatura.mostrarMsgErro"></ex-obrigatorio>
				</div>
			</div>

			<div class="row">
				<ex-campanha 
					tamanho-span="'span6'"
					fatura="fatura"
					valor="fatura.aprovacaoProducao.campanha" 
					obrigatorio="true"
					msg-erro-quando="!fatura.aprovacaoProducao.campanha&&fatura.mostrarMsgErro"></ex-campanha>
				
				<div class="span6">
					<label for="periodoRealizacao">{{'periodo-realizacao' |	translate}}</label> 
					<input id="periodoRealizacao" maxlength="30" type="text"
						ng-model="fatura.aprovacaoProducao.periodoRealizacao"
						ng-required="true"
						class="ex-text">
					<ex-obrigatorio mostrar-quando="!fatura.aprovacaoProducao.periodoRealizacao && fatura.mostrarMsgErro"></ex-obrigatorio>
				</div>
			</div>
			
			<div class="row">
				<ex-fornecedor
					tamanho-span="'span12'" 
					obrigatorio="true"
					msg-erro-quando="!fatura.aprovacaoProducao.fornecedor&&fatura.mostrarMsgErro"
					valor="fatura.aprovacaoProducao.fornecedor"></ex-fornecedor>
			</div>
			
			<div class="row">
				<div class="span6">
					<label for="valorTotal100">{{'valor-total-100' | translate}} <em class="form-req">*</em>
					</label> 
					<input id="valorTotal100" type="text"
						maxlength="11" ng-model="fatura.aprovacaoProducao.valor"
						ng-required="true"
						class="ex-real right">
						<ex-obrigatorio
						mostrar-quando="!fatura.aprovacaoProducao.valor && fatura.mostrarMsgErro"></ex-obrigatorio>
				</div>
				
				<div class="span6">
					<label for="valorHonorarios">{{'valor-honorarios' |	translate}}</label> 
					<input id="valorHonorarios" type="text"
						maxlength="12" ng-model="fatura.aprovacaoProducao.honorario" 
						ng-required="true"
						class="ex-real right">
					<ex-obrigatorio
						mostrar-quando="!fatura.aprovacaoProducao.honorario && fatura.mostrarMsgErro"></ex-obrigatorio>
				</div>
			</div>
		</div>
	</div>
</div>