<!-- Modal modalMotivoDevolucao.html -->
<div>
	<div class="modal-header">
		<button type="button" class="close" ng-click="$close()"
			data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3 class="modal-title">{{ 'cancelar-fatura' | translate }} {{fatura.numeroFatura}}</h3>
	</div>

	<div class="modal-body-form-input" >
		<div class="span12">

			<div class="filder panel panel-default">
				<div class="panel-heading">
					<b class="panel-title">{{'motivo-cancelamento' | translate}}</b>
				</div>

				<div class="panel-body">
					<ms-alert></ms-alert>
					<div class="row">
						<div class="span10">
							<label class="labelView">{{'motivo-cancelamento' | translate}}*</label>
							<textarea id="descricao" rows="5" maxlength="200"
								ng-model="formularioCancelamento.motivo.descricao" placeholder=""></textarea>
						</div>
					</div>

				</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-warning" ng-click="$close()"
					title="{{'cancela-reprovacao-fatura' | translate}}"
					data-dismiss="modal">
					<i class="font15px fa fa-times"></i> {{'cancelar' | translate }}
				</button>

				<button ng-disabled='novoMotivo' ng-click="confimarCancelamento()"
					type="button" class="btn btn-primary"
					title="{{'confirmar-cancelamento' | translate}}">
					<i class="font15px fa fa-check"></i> {{ 'confirmar-cancelamento' | translate }}
				</button>
			</div>

		</div>
	</div>
</div>