<div class="{{tamanhoSpan}}"> 
   <div class="filder panel panel-default"> 
       <div class="panel-heading"> 
           <b class="panel-title">{{'dados-do' | translate}} <strong>AP {{fatura.aprovacaoProducao.numeroAP}}</strong></b> 
       </div> 
       <div class="panel-body"> 
           <div class="row"> 
               <div class="span12"> 
                   <label class="labelView"><strong>{{'agencia' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.aprovacaoProducao.agencia.nome}}</span> 
               </div> 
           </div> 
           
			<div class="row"> 
			    <div class="span6"> 
			        <label class="labelView"><strong>{{'campanha' | translate}}</strong></label> 
			        <span class="spanView15">{{fatura.aprovacaoProducao.campanha.nome}}</span> 
			    </div>   
			    <div class="span6"> 
			        <label class="labelView"><strong>{{'periodo-realizacao' | translate}}</strong></label> 
			        <span class="spanView15">{{fatura.aprovacaoProducao.periodoRealizacao }}</span> 
			    </div> 
			</div> 
           
			<div class="row"> 
			    <div class="span12"> 
			        <label class="labelView"><strong>{{'fornecedor' | translate}}</strong></label> 
			        <span class="spanView15">{{fatura.aprovacaoProducao.fornecedor.nome}}</span> 
			    </div> 
			</div> 
			
			<div class="row">    
			    <div class="span6"> 
			        <label class="labelView"><strong>{{'valor-total-100' | translate}}</strong></label> 
			        <span class="spanView15">{{fatura.aprovacaoProducao.valor | real}}</span> 
			    </div> 
			      <div class="span6"> 
			        <label class="labelView"><strong>{{'valor-honorarios' | translate}}</strong></label> 
			        <span class="spanView15">{{fatura.aprovacaoProducao.honorario | real}}</span> 
			    </div> 
			</div>
            
			<div class="row">
				<div class="span6"> 
				    <label class="labelView"><strong>{{'siref' | translate}}</strong></label> 
				    <span class="spanView15">{{fatura.aprovacaoProducao.siref}}</span> 
				</div> 
           </div>  
       </div> 
   </div> 
</div> 