<div class="{{tamanhoSpan}}"> 
   <div class="filder panel panel-default"> 
       <div class="panel-heading"> 
           <b class="panel-title">{{'dados-pi' | translate}} {{fatura.pedidoInsercao.numeroPI}}</b> 
       </div> 
       <div class="panel-body"> 
           <div class="row"> 
               <div class="span3"> 
                   <label class="labelView"><strong>{{'numero-doac' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.planoMidia.doac.numeroDoac}}</span> 
               </div> 
               
               <div class="span3"> 
                   <label class="labelView"><strong>{{'numero-pi' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.numeroPI}}</span> 
               </div> 
               
                <div class="span3"> 
                   <label class="labelView"><strong>{{'campanha' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.planoMidia.doac.campanha.nome}}</span> 
               </div>   
               
                <div class="span3"> 
                   <label class="labelView"><strong>{{'situacao' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.situacao.descricao}}</span> 
               </div> 
		   </div>
           
           <div class="row"> 
               <div class="span4"> 
                   <label class="labelView"><strong>{{'agencia' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.planoMidia.doac.agencia.nome}}</span> 
               </div> 
               
               <div class="span4"> 
                   <label class="labelView"><strong>{{'fornecedor' | translate}} - CNPJ</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.fornecedor.nome}} - {{fatura.pedidoInsercao.fornecedor.cnpj}}</span> 
               </div> 
               
               <div class="span2"> 
                   <label class="labelView"><strong>{{'periodo-realizacao' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.planoMidia.periodoRealizacao | dash }}</span> 
               </div> 
           </div> 
           
           	<div class="row"> 
           		 <div class="span2"> 
                   <label class="labelView"><strong>{{'finalidade' | translate}}</strong></label> 
                   <span class="spanView15">{{fatura.pedidoInsercao.planoMidia.tipoFinalidadeMeio.descricao}}</span> 
               </div> 
           	
				<div class="span2"> 
					<label class="labelView"><strong>{{'custo-total100' | translate}}</strong></label>	 
					<span  class="spanView15">{{fatura.pedidoInsercao.valorTotal | real}}</span> 
				</div>	
					 
				<div class="span2"> 
					<label class="labelView"><strong>{{'custo-total95' | translate}}</strong></label>	 
					<span  class="spanView15">{{fatura.pedidoInsercao.valorTotal95 | real}}</span> 
				</div>	
				 
				<div class="span2"> 
					<label class="labelView"><strong>{{'honorarios20' | translate}}</strong></label>	 
					<span  class="spanView15">{{fatura.pedidoInsercao.valorHonorarios20 | real}}</span> 
				</div>	
				 
				<div class="span2"> 
					<label class="labelView"><strong>{{'honorarios15' | translate}}</strong></label>	 
					<span  class="spanView15">{{fatura.pedidoInsercao.valorHonorarios15 | real}}</span> 
				</div>	 
								
				<div class="span2"> 
					<label class="labelView"><strong>{{'desconto' | translate}}</strong></label>	 
					<span  class="spanView15">{{fatura.pedidoInsercao.valorDesconto5 | real}}</span> 
				</div> 
			</div> 
  
       </div> 
   </div> 
</div> 