<div class="container">

    <link type="text/css" rel="stylesheet" href="assets/css/chat.css" media="screen"/>

    <div class="row">
        <div class="span12">
            <strong class="title">{{ 'home.title' | translate }}</strong>
        </div>
    </div>

    <div class="row">
        <div class="box conteudo-box">

            <div class="msgconteudo ">
                <!--COLUNA DOS TOPICOS -->
                <div class="colunatopico">
                    <div class="ctopico">
                        <ul class="ultopico" scrolly="scrolly" on-end="scrollEnd" timeout="500" scrolling="scrolling">
                            <li class="topico" ng-repeat="topico in topicos ">
                                <a class="intopico" ng-click="selecionarTopico(topico)">
                                    <div class="chora">
                                        <div class="hora">{{topico.mensagem.data.format('DD/MM/YYYY')}}</div>
                                    </div>
                                    <div class="divavatar">
                                        <span class="avatar {{topico.cor}}">{{topico.nome.acronomo(2)}}</span>
                                    </div>
                                    <div class="nomes">
                                        <div class="nome">{{topico.nome}}</div>
                                        <div class="cmensagem">
                                            <div class="mensagem">{{topico.mensagem.texto}}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

                <!-- QUANDO NAO TEM MENSAGENS ESCOLHIDAS-->
                <div class="mensagenscontainer">
                    <div class="semmensagens" ng-if="topico==null">Selecione um chat para começar a conversar</div>
                    <div class="listamensagem" ng-if="topico!=null" objeto="topico.mensagens" scrolly="scrolly"
                         loading="carregando" scrolling="scrolling"
                         on-end="scrollMessagesEnd" timeout="500" reverse="true">

                        <div class="im_history_loading_more im_history_loading_more_active loadingwrapper"
                             ng-show="carregando"
                             ng-class="{im_history_loading_more_active: state.moreActive}" style="">
                            <div my-arc-progress="" stroke="3" width="26" ng-show="carregando"
                                 class="progress-arc-wrap progress-arc-intermediate" style="width: 26px; height: 26px;">
                                <div class="arc-hider" ng-show="carregando"></div>
                            </div>
                        </div>


                        <!-- MENSAGEM COMPLETA -->
                        <div class="msgwrap" ng-repeat="msg in topico.mensagens | orderBy:'data':reverse">


                            <div class="im_message_date_split im_service_message_wrap msgdata"
                                 ng-hide="topico.mesmaData($index)">
                                <div class="im_service_message"><span
                                        class="im_message_date_split_text msgdatai">{{msg.data.format('LL')}}</span>
                                </div>
                            </div>

                            <div class="msgoutwrap">
                                <div class="msginwrap">
                                    <div class="msgwrapin">
                                        <a class="afoto">
                                            <span class="avatar {{msg.cor}} {{!msg.ma? 'hidden':''}}">{{msg.contato.acronomo(2)}}</span>
                                            <!--<img class="foto" src="filesystem:https://web.telegram.org/temporary/702222036_29437_16181383589578663144.jpg"/>-->
                                        </a>
                                        <div class="chora">
                                            <div class="data">{{msg.data.format('hh:mm:ss')}}</div>
                                        </div>
                                        <div class="message_body">
                                            <a class="author {{topico.mesmoGrupo($index)? 'hidden':''}}">{{::msg.contato}}</a>
                                            <div class="mensagem " ng-if="msg && msg.tipoMidia==0">
                                                <div class="msgtxt">{{::msg.texto}}</div>
                                            </div>

                                            <ex-mensagem-audio ng-if="msg.tipoMidia==2" mensagem="msg"></ex-mensagem-audio>
                                            <ex-mensagem-image ng-if="msg.tipoMidia==1 || msg.tipoMidia==13"
                                                               mensagem="msg"></ex-mensagem-image>
                                            <ex-mensagem-video ng-if="msg.tipoMidia==3" mensagem="msg"></ex-mensagem-video>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>