<div class="container">

    <link type="text/css" rel="stylesheet" href="assets/css/chat.css" media="screen"/>

    <div class="row">
        <div class="span12">
            <strong class="title">{{ 'home.title' | translate }}</strong>
        </div>
    </div>

    <div class="row">
        <div class="box conteudo-box">

            <div class="msgconteudo ">
                <button ng-click="abreModal()" style="margin-left: 10px;"
                        type="button" class="btn btn-primary "
                        title="{{tipo==3?'novo-video':(tipo==2?'novo-audio':'nova-foto')|translate}}">
                    <i class="font15px fa fa-plus"></i> {{tipo==3?'novo-video':(tipo==2?'novo-audio':'nova-foto')|translate}}
                </button>
                <!--COLUNA DOS TOPICOS -->
                <div class="colunatopico">
                    <div class="ctopico">
                        <ul class="ultopico" scrolly="scrolly" on-end="scrollEnd" timeout="500" scrolling="scrolling">
                            <li class="topico" ng-repeat="topico in topicos | orderBy:'data':reverse">
                                <a class="intopico" ng-click="selecionarTopico(topico)">
                                    <div class="chora">
                                        <div class="hora">{{::topico.qtd}}</div>
                                    </div>
                                    <div class="divavatar">
                                        <span class="avatar user_bgcolor_rec">{{tipo!=1?"REC":"PIC"}}</span>
                                    </div>
                                    <div class="nomes">
                                        <div class="nome">{{tipo!=1?'gravacao-dia':'foto-dia'|translate}}</div>
                                        <div class="cmensagem">
                                            <div class="mensagem">{{::topico.data}}</div>
                                        </div>
                                    </div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <!-- QUANDO NAO TEM MENSAGENS ESCOLHIDAS-->
                <div class="mensagenscontainer">
                    <div class="semmensagens" ng-if="topico.gravacoes.length==0" style="padding-top: 85px;">{{"nenhum-registro"|translate}}</div>
                    <div class="listamensagem" ng-if="topico.gravacoes.length>0" objeto="gravacoes" scrolly="scrolly"
                         loading="carregando" scrolling="scrolling"
                         on-end="scrollMessagesEnd" timeout="500" reverse="true">

                        <div class="im_history_loading_more im_history_loading_more_active loadingwrapper"
                             ng-show="carregando"
                             ng-class="{im_history_loading_more_active: state.moreActive}" style="">
                            <div my-arc-progress="" stroke="3" width="26" ng-show="carregando"
                                 class="progress-arc-wrap progress-arc-intermediate" style="width: 26px; height: 26px;">
                                <div class="arc-hider" ng-show="carregando"></div>
                            </div>
                        </div>

                        <!-- MENSAGEM COMPLETA -->
                        <div class="msgwrap" ng-repeat="gravacao in topico.gravacoes | orderBy:'data':reverse">

                            <div class="msgoutwrap">
                                <div class="msginwrap">
                                    <div class="msgwrapin">
                                        <a class="afoto"/>
                                        <div class="chora">
                                            <div class="data">{{gravacao.data.format('hh:mm:ss')}}</div>
                                        </div>
                                        <button ng-hide="msg.carregando"
                                                ex-modal-confirmacao="apagarGravacao"
                                                item="gravacao"
                                                pergunta="'confirma-exclusao-registro' | translate"
                                                rotulo-botao="'confirma-exclusao' | translate"
                                                type="button" class="btn btn-xs btn-danger apagargravacao"
                                                title="{{'novo-gravacao' | translate}}">
                                            <i class="font15px fa fa-trash"></i>
                                        </button>


                                        <div class="message_body">
                                            <a class="author hidden"></a>
                                            <ex-gravacao gravacao="gravacao"></ex-gravacao>

                                        </div>


                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="novaGravacao" >
</script>